<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>mycode</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>form</servlet-name>
    <servlet-class>myCode.servlets.myCode_web</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>form</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>firstServlet1</servlet-name>
    <servlet-class>myCode.servlets.Login</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstServlet1</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
</web-app>